.consumo {
    width: 35%;
    padding-right: 5px;
  }

  .fullWidth {
    width: 100%;
  }

  .formulario {
    padding: 30px;
  }

  
  mat-dialog-actions {
    justify-content: flex-end;
  }
 
  .card {
    width: 90%; 
    margin-left: 4%; 
    margin-bottom: 2%
  }

  .btnAgregarCabana {
    background-color: #ffffff;
    border: 1px solid #595d5a;
  }

  .btnQuitarCabana {
    background-color: #e3f8fa;
    border: 1px solid #595d5a;
  }

  .close-button{
    float: right;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
  }
  
  .close-icon:hover {
    transform: rotate(180deg);
  }
  
  ::ng-deep .icon-outside .close-button{
    float: right;
    top:-52px;
    right:-52px;
  }
  
  ::ng-deep .icon-outside .mat-dialog-container {
   overflow: unset
  }

  .headerAndClose {
    background-color: #3f51b5;
  }