<form [formGroup]="consumosForm" fxFlex fxLayout="column" class="fullWidth">
  <div>
    <mat-toolbar color="primary" style="padding-left: 16px; width: 100%;">Agregar Consumo</mat-toolbar>
</div>
  <div fxFlex fxLayoutGap="10px" class="formulario">

    <mat-form-field appearance="standard">
      <mat-label>Seleccione un consumo</mat-label>
      <mat-select (closed)="calcularSubTotal()" formControlName="descripcion"
        (selectionChange)="onConsumoChange($event)">
        <mat-option *ngFor="let producto of productos" [value]="producto">
          {{producto.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Cantidad</mat-label>
      <mat-select (closed)="calcularSubTotal()" formControlName="cantidad" (selectionChange)="onCantidadChange($event)"
        selectedOption='1'>
        <mat-option *ngFor="let cantidad of cantidades" [value]="cantidad">
          {{cantidad}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard" class="monto">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="total" />
    </mat-form-field>

    <button class="btnAgregarConsumo" mat-button color="primary" (click)="agregarConsumo()">Agregar
      <mat-icon>add</mat-icon>
    </button>
    <button class="btnQuitarConsumo" mat-button color="primary" (click)="guardarConsumos()">Guardar

    </button>
    <button mat-button class="btnCloseDialog" (click)="onNoClick()">Cerrar
      <mat-icon>close</mat-icon>
    </button>

  </div>

  <mat-list>
    <mat-card *ngFor="let consumo of consumo?.consumos" class="card" style="width: 90%; margin-left: 4%; margin-bottom: 2%">
      <div style="display:flex;justify-content:space-between">
        <mat-card-header>
          <div mat-card-avatar class="avatar-image-consumo"></div>
          <div>
          <mat-card-title>{{ consumo.producto.descripcion }}</mat-card-title>
          
          <mat-card-subtitle>Cantidad: {{ consumo.cantidad}}</mat-card-subtitle>
          <mat-card-subtitle>Precio Unitario: {{ consumo.producto.precio | currency: 'USD'}}</mat-card-subtitle>
          <mat-card-subtitle>Total: {{ consumo.monto | currency: 'USD'}}</mat-card-subtitle>
          <mat-card-subtitle>Fecha: {{ consumo.fecha | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
        </div>
        </mat-card-header>
        <button mat-button color="primary" (click)="quitarConsumo(consumo)">Quitar
          <mat-icon>delete</mat-icon>
        </button>  
      </div>
    </mat-card>
  </mat-list>

</form>