  .monto {
    width: 30%;
    padding-right: 10px;
  }
    
  .fullWidth {
    width: 100%;
  }

  .avatar-image-consumo {    
    height: 46;
    width: 46;
    flex-shrink: 0;
    object-fit: cover;
    background-image: url('https://media.istockphoto.com/vectors/plastic-cup-of-soda-pop-hand-drawn-sketch-icon-vector-id931068732');
    background-size: cover;
  }

  .formulario {
    padding: 30px;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
  }
  
  .card {
    background-color: #c7dbe5ef;
  }
 
  .btnAgregarConsumo {
    background-color: #ffffff;
    border: 1px solid #595d5a;
  }

  .btnQuitarConsumo {
    background-color: #e3f8fa;
    border: 1px solid #595d5a;
  }

  .btnCloseDialog {
    color: #7c1313;
    border: 1px solid #595d5a;
    background-color: #f8797fe7;
  }