<form [formGroup]="consumosForm" (ngSubmit)="guardarConsumos()" fxFlex fxLayout="column" class="fullWidth">
  <div>
    <mat-toolbar color="primary" style="padding-left: 16px; width: 100%;">Agregar consumo</mat-toolbar>
  </div>
  <div fxFlex fxLayoutGap="10px" class="formulario">

    <mat-form-field appearance="standard">
      <mat-label>Producto/Servicio</mat-label>
      <mat-select (closed)="calcularSubTotal()" formControlName="descripcion"
        (selectionChange)="onConsumoChange($event)">
        <mat-option *ngFor="let producto of productos" [value]="producto">
          {{producto.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Cantidad</mat-label>
      <mat-select (closed)="calcularSubTotal()" formControlName="cantidad" (selectionChange)="onCantidadChange($event)"
        selectedOption='1'>
        <mat-option *ngFor="let cantidad of cantidades" [value]="cantidad">
          {{cantidad}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard" class="monto">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="total" />
    </mat-form-field>

    <button mat-button color="primary" (click)="agregarConsumo()">Agregar
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let consumo of consumos">
      <mat-icon matListIcon>check_circle_outline</mat-icon>
      <h3 matLine> {{consumo.producto.descripcion}} </h3>
      <p matLine>
        <span> {{consumo.monto}} </span>
      </p>
    </mat-list-item>
  </mat-list>

  <button mat-raised-button>Guardar</button>
</form>