
<div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!isLoading" class="top" >
        <h1 style="text-align: center">Tablero</h1> 
    </div>
    <mat-spinner *ngIf="isLoading" class="top"></mat-spinner>
</div>
<div *ngIf="!isLoading" class="row center_">
    <div class="col-6 pull-left">
        <div class="card-widget mt-15">
            <div class="card-widget-header">
               <div class="header_ pull-left"><i class="ic_grain"></i> Charges vs Payments</div>
            </div>
            <div class="card-widget-body">
                <div>
                    <canvas baseChart 
                    [datasets]="paymentVsChargeGraphData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 pull-left">
        <div class="card-widget mt-15">
            <div class="card-widget-header">
               <div class="header_ pull-left"><i class="ic_grain"></i> Charges vs Payments</div>
            </div>
            <div class="card-widget-body">
                <div>
                    <canvas baseChart
                    [data]="collectedRevenueChartData"
                    [labels]="doughnutChartLabels"
                    [legend]="doughnutChartLegend"
                    [options]="doughnutChartOptions"
                    [chartType]="doughnutChartType">
                  </canvas>
                </div>
            </div>
        </div>
    </div>
</div>


