.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin-top: 2%;
    background-color: rgb(192, 224, 231);
    }
    
    .card:hover {
      background-color: rgb(142, 202, 226);
    }
    
    .container {
      width: 75%;
      margin: 0 auto;
      padding: 10px 10px;
    }

    .accordion {
      margin-right: 3%;
    }
  
    .mat-form-field + .mat-form-field {
      margin-left: 8px;
    }

    .mat-form-field {
      width: 250px !important;
    }

    .panelDescription {
      width: 200px !important;
    }
  
    .btnAcciones {
      margin-top: 2%; 
      margin-left:2%;
      background-color: #ecf7b2;
      border-radius: 30px;
    }
    
    .title {
      text-align: center;
      margin-top: 3%;
    }

    .btnCancelarActualizacion {
      margin-top: 2%; 
      margin-left:2%;
      background-color:#f8b1b1;
      border-radius: 30px;
    }

    .panelDescription {
      width: 190px;
    }

    .mat-list-base .mat-list-item.mat-3-line {
      height: auto !important;
    }
  

.btnCancelarSolicitudes {
  border-radius: 5px;
  color:#e73d1fd5;
  background-color:#ffffff;
  border: 1px solid #85929E;
  margin-bottom: 1rem;
  width: auto;
  z-index: 10;
  float: right;
}

.btnInfo {
  border-radius: 5px;
  color:#1a6db1e8;
  background-color:#ffffff;
  border: 1px solid #85929E;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: auto;
  z-index: 10;
  float: right;
}

.cont-buttons {
  margin: auto;
  padding: 10px;
}

::ng-deep .mat-tooltip {
  background: rgba(120, 172, 218, 0.712)!important;
  font-size: 15px;
}