<div class="container">
  <div *ngIf="solicitudesReserva.length == 0">
    <h2 style="text-align: center">No existen solicitudes de reserva <mat-icon>error</mat-icon>
    </h2>
  </div>
  <div fxLayout="row" *ngIf="solicitudesReserva.length != 0">
    <div fxFlex.gt-sm="100%">
      <h1 class="title">Solicitudes de Reserva</h1>

      <div class="cont-buttons">
        <button class="btnInfo" mat-raised-button
          matTooltip="Se cancelan las solicitudes que no se hayan señado hasta 10 días antes de la Fecha Desde"
          matTooltipPosition="below">
          <mat-icon>info</mat-icon>
        </button>

        <button class="btnCancelarSolicitudes" mat-raised-button (click)="cancelarSolicitudesPendienteSena()">
          <mat-icon>track_changes</mat-icon>Cancelar Solicitudes Aceptadas Pendientes de Seña
        </button>
      </div>
      <mat-card>
        <mat-card-content>
          <mat-list>

            <mat-list-item *ngFor="let solicitudReserva of solicitudesReserva; index as eventoId" class="card">

              <h3 matLine>Titular de Reserva: {{solicitudReserva.cliente.nombre}}
                {{solicitudReserva.cliente.apellidos}}</h3>
              <h3 matLine>Fecha Desde: {{solicitudReserva.fechaDesde | date:'dd/MM/yyyy'}}</h3>
              <h3 matLine>Fecha Hasta: {{solicitudReserva.fechaHasta | date:'dd/MM/yyyy'}}</h3>

              <mat-accordion class="accordion">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="left-aligned-header">
                      + Detalles
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-panel-description class="panelDescription">
                    Documento Titular: {{solicitudReserva.cliente.dni}}
                  </mat-panel-description>
                  <mat-panel-description class="panelDescription">
                    Código de Reserva: {{solicitudReserva.codigoReserva}}
                  </mat-panel-description>
                  <mat-panel-description class="panelDescription">
                    Cantidad de Personas: {{solicitudReserva.cantidadPersonas}}
                  </mat-panel-description>
                  <mat-panel-description class="panelDescription">
                    Costo Aproximado: {{solicitudReserva.costo | currency: 'USD'}}
                  </mat-panel-description>

                </mat-expansion-panel>
              </mat-accordion>

              <mat-form-field appearance="standard">
                <mat-label>Estado Actual</mat-label>
                <mat-select [disabled]="solicitudReserva.disabled" [(value)]="solicitudReserva.estado.descripcion">
                  <mat-option [value]="estado.descripcion" *ngFor="let estado of estados">{{ estado.descripcion }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-card-actions class="btnAcciones"
                *ngIf="solicitudReserva.disabled && solicitudReserva.estado.descripcion != 'Solicitud Aceptada'">
                <button mat-button (click)="solicitudReserva.disabled = !solicitudReserva.disabled">Actualizar Estado
                  Solicitud
                  <mat-icon title="Gestionar Solicitud">filter_frames</mat-icon>
                </button>
              </mat-card-actions>

              <mat-card-actions class="btnCancelarActualizacion" *ngIf="!solicitudReserva.disabled">
                <button mat-button (click)="solicitudReserva.disabled = !solicitudReserva.disabled"> Cancelar
                  <mat-icon title="Gestionar Solicitud">filter_frames</mat-icon>
                </button>
              </mat-card-actions>

              <mat-card-actions class="btnAcciones" *ngIf="!solicitudReserva.disabled">
                <button mat-button (click)="actualizarSolicitud(solicitudReserva)"> Guardar Estado Solicitud
                  <mat-icon title="Gestionar Solicitud">filter_frames</mat-icon>
                </button>
              </mat-card-actions>

            </mat-list-item>

          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>