<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 5rem">


    <div class="top" fxLayout="column">
       
        <div class="mat-elevation-z8">

            <table mat-table matSort [dataSource]="productos" class="mat-elevation-z8">

                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Producto/Servicio </th>
                    <td mat-cell *matCellDef="let producto"> {{producto.descripcion}} </td>
                </ng-container>


                <ng-container matColumnDef="precio" style="margin-left: 10px">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let producto"> {{producto.precio}} </td>
                </ng-container>

                
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>

        </div>
        <div fxLayoutAlign="end">
            <button mat-button color="primary" style="margin-top: 10px;">Agregar</button>
        </div>
    </div>



</div>