<form [formGroup]="cabanasForm" fxFlex fxLayout="column" class="fullWidth">
  <div class="headerAndClose">
    <button tabindex="-1" mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <mat-toolbar color="primary" style="padding-left: 16px; width: 90%;">Eliminar Cabaña</mat-toolbar>

  </div>


  <button mat-raised-button mat-primary color="primary">Cancelar</button>
  <button mat-raised-button mat-primary color="primary">Eliminar</button>
</form>
