<div class="container">
  <div *ngIf="eventos.length == 0">No existen eventos en la fecha</div>
  <div fxLayout="row">
    <div fxFlex.gt-sm="100%">
      <mat-card class="card-container">
        <mat-card-content>
          <mat-list>

            <mat-list-item *ngFor="let evento of eventos; index as eventoId" class="card">

              <h3 matLine>Cabaña: {{evento.extendedProps.cabana.nombre}}</h3>
              <h3 matLine>Titular de Reserva: {{evento.extendedProps.cliente.nombreYApellido}}</h3>

              <mat-card-actions style="margin-top: 2%; margin-left:2%">
                <button class="btnGestionarConsumos" mat-raised-button (click)="openDialog(evento)">Gestionar Consumos</button>
              </mat-card-actions>

            </mat-list-item>

          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>