
<div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!isLoading" class="top" fxLayout="column">
        <h2>Detalle Check Out</h2>
        <div class="mat-elevation-z8">
            <table mat-table matSort id="my-table" [dataSource]="consumo">                
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                    <td mat-cell *matCellDef="let consumo"> {{consumo.producto.descripcion}}</td>
                </ng-container>
                
                <ng-container matColumnDef="precioUnidad">
                    <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
                    <td mat-cell *matCellDef="let consumo"> {{consumo.producto.precio | currency: 'USD'}} </td>
                </ng-container>     
                
                <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let consumo"> {{consumo.cantidad}}</td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let consumo"> {{consumo.monto | currency: 'USD'}} </td>
                </ng-container>     

                <ng-container matColumnDef="fechaConsumo">
                    <th mat-header-cell *matHeaderCellDef> Fecha Consumo </th>
                    <td mat-cell *matCellDef="let consumo"> {{consumo.fecha | date: 'dd/MM/yyyy'}}</td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
            
            <ng-container>
                <h3 class="total">Total: {{total | currency: 'USD'}}</h3>
            </ng-container>        

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[1, 5, 10, 25, 50]">
            </mat-paginator>
        </div>

        
    <button *ngIf="!esDetalle" class="btnRealizarCheckout" mat-raised-button (click)="guardarCheckout()">
        Realizar Checkout <mat-icon>assignment_turned_in</mat-icon>
    </button>
    <button *ngIf="esDetalle" class="button button-primary btnRealizarCheckout" mat-raised-button (click)="descargarComprobante()">  
        <mat-icon>download</mat-icon> Descargar Comprobante 
    </button>

    </div>

</div>