<form [formGroup]="FormReserva" fxFlex fxLayout="column" class="formWidth">
  <div class="headerAndCloseRegistrar" *ngIf="!isEditing">
    <button tabindex="-1" mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <mat-toolbar color="primary" style="padding-left: 16px; width: 90%;">Registrar reserva</mat-toolbar>
  </div>
  <div class="headerAndCloseEditar" *ngIf="isEditing">
    <button tabindex="-1" mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <mat-toolbar class="mat-editarReserva" style="padding-left: 16px; width: 90%;">Editar reserva</mat-toolbar>
  </div>
  <div fxFlex fxLayoutGap="10px" class="formulario">
    <mat-form-field appearance="standard" class="fullWidth">
      <mat-label
        ><fa-icon [icon]="faUser"></fa-icon> Apellido y Nombre</mat-label
      >
      <input matInput formControlName="NombreYApellido" />
      <mat-error>Requerido</mat-error>
    </mat-form-field>
    <br />
    <div id="dniTelefono">
      <mat-form-field
        appearance="standard"
        hintLabel="Solo números"
        class="dni"
      >
        <mat-label><fa-icon [icon]="faIdCard"></fa-icon> DNI</mat-label>
        <input matInput formControlName="Dni" />
        <mat-error
          *ngIf="
            FormReserva.controls.Dni.invalid &&
            !FormReserva.controls.Dni.getError('required') &&
            !FormReserva.controls.Dni.getError('minlength')
          "
          >Solo números</mat-error
        >
        <mat-error *ngIf="FormReserva.controls.Dni.getError('minlength')"
          >Mínimo 6 caracteres</mat-error
        >
        <mat-error *ngIf="FormReserva.controls.Dni.getError('required')"
          >Requerido</mat-error
        >
      </mat-form-field>
      <mat-form-field
        class="short"
        appearance="standard"
        hintLabel="Solo números"
        class="telefono"
      >
        <mat-label><fa-icon [icon]="faPhone"></fa-icon> Teléfono</mat-label>
        <input matInput formControlName="Telefono" />
        <mat-error
          *ngIf="
            FormReserva.controls.Telefono.invalid &&
            !FormReserva.controls.Telefono.getError('required') &&
            !FormReserva.controls.Telefono.getError('minlength')
          "
          >Solo números</mat-error
        >
        <mat-error *ngIf="FormReserva.controls.Telefono.getError('minlength')"
          >Mínimo 10 caracteres</mat-error
        >
        <mat-error *ngIf="FormReserva.controls.Telefono.getError('required')"
          >Requerido</mat-error
        >
      </mat-form-field>
    </div>
    <br />
    <mat-form-field appearance="standard" class="fullWidth">
      <mat-label><fa-icon [icon]="faEnvelope"></fa-icon> Correo</mat-label>
      <input type="email" matInput formControlName="Correo" email />
      <mat-error *ngIf="FormReserva.controls.Correo.invalid"
        >Correo Inválido</mat-error
      >
    </mat-form-field>
    <br />

    <div class="fullWidth">
      <mat-form-field class="fecha">
        <mat-label>Desde</mat-label>
        <input
          matInput
          [matDatepicker]="pickerDesde"
          formControlName="FechaDesde"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerDesde"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerDesde startView="month" (closed)="calcularSubTotal()"></mat-datepicker>
        <mat-error *ngIf="FormReserva.controls.FechaDesde.getError('invalid')"
          >Inválido</mat-error
        >
        <mat-error *ngIf="FormReserva.controls.FechaDesde.getError('required')"
          >Requerido</mat-error
        >
      </mat-form-field>

      <mat-form-field class="fecha">
        <mat-label>Hasta</mat-label>
        <input
          matInput
          [matDatepicker]="pickerHasta"
          formControlName="FechaHasta"
          [min]="fechaHastaMinima"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerHasta"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerHasta startView="month" (closed)="calcularSubTotal()"></mat-datepicker>
        <mat-error *ngIf="FormReserva.controls.FechaHasta.getError('invalid')"
          >Inválido</mat-error
        >
        <mat-error *ngIf="FormReserva.controls.FechaHasta.getError('required')"
          >Requerido</mat-error
        >
      </mat-form-field>
    </div>
    <br />
    <div class="fullWidth">
      <mat-form-field class="ocupantes" appearance="standard">
        <mat-label><fa-icon [icon]="faUsers"></fa-icon> Cantidad de Personas</mat-label>
        <mat-select formControlName="CantOcupantes" (closed)="calcularSubTotal()">
          <mat-option
            *ngFor="let numero of CantidadOcupantes"
            value="numero"
            [value]="numero"
            >{{ numero }}</mat-option
          >
        </mat-select>
        <mat-error>Requerido</mat-error>
      </mat-form-field>

      <mat-form-field class="cabania" appearance="standard">
        <mat-label><fa-icon [icon]="faHome"></fa-icon> Cabaña</mat-label>

        <mat-select name="cabana" (closed)="calcularSubTotal()" formControlName="Cabania">
          <mat-option *ngFor="let cabana of cabanas" [value]="cabana.nombre">
            {{ cabana.nombre }}
          </mat-option>
        </mat-select>

        <mat-error>Requerido</mat-error>
      </mat-form-field>
    </div>

    <div class="fullWidth">

      <mat-form-field appearance="standard" class="monto">
        <mat-label><fa-icon [icon]="faDollarSign"></fa-icon> Seña</mat-label>
        <input matInput formControlName="MontoSenia" />
        <mat-error *ngIf="FormReserva.controls.MontoSenia.getError('required')"
          >Requerido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="standard" class="monto">
        <mat-label
          ><fa-icon [icon]="faMoneyCheckAlt"></fa-icon> Total
        </mat-label>
        <input matInput formControlName="MontoTotal" />
        <mat-error *ngIf="FormReserva.controls.MontoTotal.getError('required')"
          >Requerido</mat-error
        >
      </mat-form-field>

      <mat-dialog-actions fxFlexAlign="end">
        <button *ngIf="isEditing"
          class="btnCancelarReserva mat-stroked-button buttonMargin"
          (click)="openDialogEliminarReserva()"
        >
          Eliminar
        </button>

        <button
          class="mat-raised-button mat-primary"
          (click)="guardarReserva()"
        >
          Guardar
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</form>
