.top {
    margin-top: 50px;
}

.mat-cell, .mat-header-cell {
    padding: 10px 10px 10px 0;
}

.mat-header-cell {
    flex-direction: column;
}
  
.mat-cell, .mat-header-cell {
    text-align: center;
    justify-content:center;
}

table {
    width: 90%;
    margin:1rem auto;
 }

 .contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
    box-shadow: -1px 3px 66px 0px rgba(0,0,0,0.75);
    padding: 1rem;
}   


.btnAgregarProducto {
    margin-top: 10px;
}