.top {
    margin-top: 50px;
}

.mat-cell, .mat-header-cell {
    padding: 10px 10px 10px 0;
}

.mat-header-cell {
    flex-direction: column;
}
  
.mat-cell, .mat-header-cell {
    text-align: center;
    justify-content:center;
}

table {
    width: 90%;
    margin:1rem auto;
 }

 .contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
    box-shadow: -1px 3px 66px 0px rgba(0,0,0,0.75);
    padding: 1rem;
}   


.btnAgregarProducto {
    margin-top: 10px;
    border-radius: 5px;
    color:#3f51b5;
    background-color:#E5E7E9;
    border: 1px solid #85929E;
    margin-bottom: 1rem;
}

.btnEditarProducto {
    border-radius: 5px;
    color:#000000;
    background-color:#ffe392;
    border: 1px solid #c8ca47;
    margin-right: 10px;
}

.btnEditarProducto:hover {
    box-shadow: 5px 5px 5px rgb(240, 238, 166);
}

.btnEliminarProducto {
    border-radius: 5px;
    color:#000000;
    background-color:#e72121;
    border: 1px solid #ca4747;
    margin: auto;
}

.btnEliminarProducto:hover {
    box-shadow: 5px 5px 5px rgb(228, 118, 118);
}