.consumo {
    width: 35%;
    padding-right: 5px;
  }
  .boton-agregar{
    width: 20%;
  
  }

  .fullWidth {
    width: 100%;
  }

  .formulario {
    padding: 30px;
  }
  .boton-guardar{
    background-color:#3f51b5;
    color:white;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
  }
 