.consumo {
    width: 35%;
    padding-right: 5px;
  }

  .fullWidth {
    width: 100%;
  }

  .formulario {
    padding: 30px;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
  }
 
  .btnAgregarTarifa {
    background-color: #ffffff;
    border: 1px solid #595d5a;
  }

  .btnQuitarTarifa {
    background-color: #e3f8fa;
    border: 1px solid #595d5a;
  }

  .btnGuardarTarifa {
    width: auto;
    margin: auto;
  }


  .headerAndClose {
    background-color: #3f51b5;
  }

  .fecha {
    width: 45%;
    padding-right: 5px;
  }  
  
  .close-button{
    color: #ffffff;
    float: right;
  }
  
  .close-icon {
    transition: 0.8s ease-in-out;
    transition-property: background-color, transform;
    transition-duration: 500ms, 500ms;
  }
  
  .close-icon:hover {
    background-color: red;
    transform: rotate(90deg) scale(1);
  }
  
  ::ng-deep .icon-outside .close-button{
    float: right;
    top:-52px;
    right:-52px;
  }

  ::ng-deep .icon-outside .mat-dialog-container {
   overflow: unset
  }
