.top {
    margin-top: 50px;
}

.mat-cell, .mat-header-cell {
    padding: 10px 10px 10px 0;
}

.mat-header-cell {
    flex-direction: column;
}
  
.mat-cell, .mat-header-cell {
    text-align: center;
    justify-content:center;
}


.btnAgregarCabana {
    margin-top: 10px;
    border-radius: 5px;
    color:#3f51b5;
    background-color:#E5E7E9;
    border: 1px solid #85929E;
    margin-bottom: 1rem;
}